<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MirrorJobsSection" type="NuGetGallery.MirrorJob.Configuration.MirrorJobPackageConfigurationSection, NuGetGallery.MirrorJob"/>
  </configSections>
  <MirrorJobsSection>
    <MirrorJobPackages>
      <add PackageName="nunit" SourceFeed="http://www.nuget.org/api/v2/" TargetFeed="http://localhost/nuget/api/v2" TargetApiKey="99af9aa7-c8a0-4ce0-baf8-13f186d89586" />
      <add PackageName="rhinomocks" SourceFeed="http://www.nuget.org/api/v2/" TargetFeed="http://localhost/nuget/api/v2" TargetApiKey="99af9aa7-c8a0-4ce0-baf8-13f186d89586" />
      <add PackageName="Autofac" SourceFeed="https://www.myget.org/F/autofac/" TargetFeed="http://localhost/nuget/api/v2" TargetApiKey="99af9aa7-c8a0-4ce0-baf8-13f186d89586" />
    </MirrorJobPackages>
  </MirrorJobsSection>
</configuration>